In [5]:
var1 = '1.3'
type(var1)

str

In [6]:
_var1 = 'Hello'
name_var1 = 'akhil'
print(_var1)
print(name_var1)

Hello
akhil

In [7]:
var2 = 20
name = 'akhil'
print(name + str(var2))

akhil20

In [10]:
var3 = 22
var4 = 7
print(var3+var4)
print(var3-var4)
print(var3*var4)
print(var3/var4)
print(var3**var4)
print(var3//var4)
print(var3%var4)

29
15
154
3.142857142857143
2494357888
3
1

In [11]:
var3 = int(input('Enter value of var3:'))     #type change is very important 
var4 = int(input('Enter value of var4:'))
print(var3+var4)
print(var3-var4)
print(var3*var4)
print(var3/var4)
print(var3**var4)
print(var3//var4)
print(var3%var4)

Enter value of var3:5
Enter value of var4:8
13
-3
40
0.625
390625
0
5